<!DOCTYPE html>
<html>
<head>

  <title>Welcome Chez Nous - Home</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <meta name="theme-color" content="#0D47A1">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <script src="https://code.jquery.com/jquery-2.2.1.min.js"
  integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/d5a570f79a.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

  <!-- NOTE: BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link rel="stylesheet" href="/general.css">
  <link rel="stylesheet" href="/becomeFamily.css">
  <script type="text/javascript" src="/becomeFamily.js"></script>

</head>

<body>
  <div class="container-fluid" id="header">
    <div class="">
      <a href="/">WELCOME CHEZ NOUS</a>
    </div>
    <div id="">
      <a href="#">Aide</a>
      <a href="/signup_account">Inscription</a>
      <a href="#">Connexion</a>
    </div>
  </div>

  <div id="fixedHeader" class="hidden">
    <div class="container">
      <p>Commencez dès maintenant en inscrivant votre famille</p>
      <a href="/signup_account" class="btn btn-success" style="">Commencer</a>
    </div>
  </div>

  <img id="famPic" src="http://www.lifecounsel.co.za/wp-content/uploads/2014/03/family-pictures.jpg" alt="">

  <div class="overDiv">
    <h3 class="display-4">Gagnez de l'argent en accueillant des étudiants étrangers chez vous</h3>
    <p class="lead" style="color: black">
      Proposez votre offre de façon modulable et transparente,blabla
    </p>
    <a href="/signup_account" class="btn btn-success" style="">Commencer</a>
  </div>

  <div class="container">
    <h2 class="" id="pkWCN">Pourquoi utiliser Welcome Chez Nous ?</h2>

    <div class="explSection">
      <h3>1. Inscrivez-vous pour devenir hôte WCN</h3>
      <p>Commencez par créer votre annonce. C'est un peu le profil de votre famille.</p>
    </div>

    <div class="row">

      <div class="col">
        <i class="material-icons sectionIcon">announcement</i>
        <div class="ssSectionTitre">
          Qu'est-ce qu'il y a dans une annonce ?
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>

      <div class="col">
        <i class="material-icons sectionIcon">bookmark</i>
        <div class="ssSectionTitre">
          Qui peut réserver ?
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>

      <div class="col">
        <i class="material-icons sectionIcon">face</i>
        <div class="ssSectionTitre">
          Nous sommes là pour vous aider !
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>
    </div>

    <div class="explSection">
      <h3>2. Les étudiants voient votre offre et effectuent une réservation</h3>
      <p>Les étudiants voient vos disponibilités et peuvent échanger avec vous.</p>
    </div>

    <div class="row">

      <div class="col">
        <i class="material-icons sectionIcon">question_answer</i>
        <div class="ssSectionTitre">
          Communiquez avec les étudiants
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>

      <div class="col">
        <i class="material-icons sectionIcon">compare_arrows</i>
        <div class="ssSectionTitre">
          Organisez l'expérience ensemble
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>

      <div class="col">
      </div>

    </div>

    <div class="explSection">
      <h3>3. Accueillez vos étudiants</h3>
      <p>Les étudiants voient vos disponibilités et peuvent échanger avec vous.</p>
    </div>

    <div class="row">

      <div class="col">
        <i class="material-icons sectionIcon">question_answer</i>
        <div class="ssSectionTitre">
          Communiquez avec les étudiants
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>

      <div class="col">
        <i class="material-icons sectionIcon">compare_arrows</i>
        <div class="ssSectionTitre">
          Organisez l'expérience ensemble
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>

      <div class="col">
      </div>

    </div>

    <div class="startNow">
      <h2 class="display-4" style="color:white">Préparez-vous à rencontrer vos étudiants</h2>
      <a href="/signup_account" class="btn btn-success" style="margin-top:50px;">Commencer</a>

    </div>

  </div>

  <div class="footer">
    <div class="row">

      <div class="col">
        <div class="ssSectionTitre">
          WCN repose sur la confiance
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>

      <div class="col">
        <div class="ssSectionTitre">
          Nous assurons vos arrières
        </div>
        <div class="ssSectionContent">
          Vous remplissez une description de votre famille, télechargez des photos, entrez votre adresse blabla
        </div>
      </div>

      <div class="col">
      </div>

      <div class="col">
      </div>

    </div>
  </div>

</body>
